<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zapto.zip - 404</title>
</head>
<%- include('../header') %>

<body>


  <div class="container">
    <div class="pt-5 text-white">
      <header class="py-5 mt-5">
        <h1 class="display-4">Error 404</h1>
        <h2>File not found</h2>
      </header>
    </div>
  </div>
</body>

</html>